@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');




.wrapper {
    max-width: 550px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 20px 20px 80px rgb(206, 206, 206)
}

.h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 3.0rem;
    font-weight: bold;
    color: #7b2ee8;
    text-shadow: 0 0 2px #a069ee;
    font-style: italic
}

.h5 {
    color: #555;
    margin: 0
}

.form-control {
    border: 1.5px solid #7b2ee8
}

.form-control:focus {
    box-shadow: none
}

.mandatory::after {
    content: "*";
    color: #ff0000
}

.button-section .btn {
    background-color: #fff;
    border-radius: 20px;
    border: 1.5px solid #7b2ee8;
    padding: 5px 15px
}

.button-section .btn.btn-primary {
    background-color: #7b2ee8;
    color: #eee
}

.button-section .btn:hover {
    background-color: #7b2ee8;
    color: #eee
}

.remember {
    border: 1px solid #7b2ee8
}

.gender-l {
    margin: 0
}

#male {
    display: none
}

input[type="radio"] {
    visibility: hidden
}

input[type='radio']:checked {
    background-color: #7b2ee8
}

.btn.btn-primary {
    background-color: #fff;
    color: #555;
    border: 1px solid #7b2ee8;
    width: 115px
}

.btn.btn-primary:hover {
    background-color: #a069ee;
    color: #fff
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #7b2ee8
}

@media(max-width: 575px) {
    .btn-group {
        width: 100%
    }

    .btn-group>.btn {
        flex: 50%
    }

    .wrapper {
        margin: 10px
    }

    .h5 {
        padding-top: 10px
    }
}